@page
@model GameJam.Areas.Identity.Pages.Account.Manage.UploadedGamesModel
@{
    ViewData["Title"] = "Uploaded Games";
    ViewData["ActivePage"] = ManageNavPages.UploadedGames;
}

<partial name="_StatusMessage" model="Model.StatusMessage" />

@if (Model.Games != null && Model.Games.Any() && Model.EditGame == null)
{
    <div class="text-center">
        <h1 class="display-4 header"><strong>Your Games:</strong></h1>
    </div>

    <div id="spill">
        <center>
            <div class="container">
                <div class="row">
                    @foreach (var game in Model.Games)
                    {
                        <div class="col-sm-3 col-md-4">
                            <div class="spill-item">
                                <div class="delete-game-form">
                                    <div class="container">
                                        <div class="row justify-content-center">
                                            <div class="col-sm-1">
                                                <a href="?deleteGameId=@game.Id"><i class="fas fa-trash"></i></a>
                                            </div>
                                            <div class="col-sm-1">
                                                <a href="?editGameId=@game.Id"><i class="fas fa-edit"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <a class="h1 spill-item-title" asp-action="Games" asp-controller="Home" asp-route-query="@game.Id">@game.Name</a>
                                <h4>Last modified: <br/><span class="h5">@game.LastEdited</span></h4>
                                <br/>
                                @if (game.Images != null && game.Images.Any())
                                {
                                    <div id="images-@game.Id" class="carousel slide" data-ride="carousel">

                                        <!-- Indicators -->
                                        <ul class="carousel-indicators">
                                            @{
                                                var active = true;
                                                for (var i = 0; i < game.Images.Count; i++)
                                                {
                                                    if (active)
                                                    {
                                                        <li data-target="#images-@game.Id" data-slide-to="@i" class="active"></li>
                                                        active = false;
                                                    }
                                                    else
                                                    {
                                                        <li data-target="#images-@game.Id" data-slide-to="@i"></li>
                                                    }
                                                }
                                            }
                                        </ul>

                                        <!-- The slideshow -->
                                        <div class="carousel-inner">
                                            @{
                                                active = true;
                                                foreach (var image in game.Images)
                                                {
                                                    if (active)
                                                    {
                                                        <div class="carousel-item active">
                                                            <img class="spill-item-image" src="@image" alt="@image">
                                                        </div>
                                                        active = false;
                                                    }
                                                    else
                                                    {
                                                        <div class="carousel-item">
                                                            <img class="spill-item-image" src="@image" alt="@image">
                                                        </div>
                                                    }
                                                }
                                            }
                                        </div>

                                        <!-- Left and right controls -->
                                        <a class="carousel-control-prev" href="#images-@game.Id" data-slide="prev">
                                            <span class="carousel-control-prev-icon"></span>
                                        </a>
                                        <a class="carousel-control-next" href="#images-@game.Id" data-slide="next">
                                            <span class="carousel-control-next-icon"></span>
                                        </a>
                                    </div>
                                }
                                else
                                {
                                    <h5>No Images uploaded.</h5>
                                }

                                @if (game.Videos != null && game.Videos.Any())
                                {
                                    <div id="videos-@game.Id" class="carousel slide" data-ride="carousel">

                                        <!-- Indicators -->
                                        <ul class="carousel-indicators">
                                            @{
                                                var active = true;
                                                for (var i = 0; i < game.Videos.Count; i++)
                                                {
                                                    if (active)
                                                    {
                                                        <li data-target="#videos-@game.Id" data-slide-to="@i" class="active"></li>
                                                        active = false;
                                                    }
                                                    else
                                                    {
                                                        <li data-target="#videos-@game.Id" data-slide-to="@i"></li>
                                                    }
                                                }
                                            }
                                        </ul>

                                        <!-- The slideshow -->
                                        <div class="carousel-inner">
                                            @{
                                                active = true;
                                                foreach (var video in game.Videos)
                                                {
                                                    if (active)
                                                    {
                                                        <div class="carousel-item active">
                                                            <iframe class="responsive-iframe" src="@video"></iframe>
                                                        </div>

                                                        active = false;
                                                    }
                                                    else
                                                    {
                                                        <div class="carousel-item">
                                                            <iframe class="responsive-iframe" src="@video"></iframe>
                                                        </div>
                                                    }
                                                }
                                            }
                                        </div>

                                        <!-- Left and right controls -->
                                        <a class="carousel-control-prev" href="#videos-@game.Id" data-slide="prev">
                                            <span class="carousel-control-prev-icon"></span>
                                        </a>
                                        <a class="carousel-control-next" href="#videos-@game.Id" data-slide="next">
                                            <span class="carousel-control-next-icon"></span>
                                        </a>
                                    </div>
                                }
                                else
                                {
                                    <h5>No Videos uploaded.</h5>
                                }

                                <h3 class="spill-item-description">Description:</h3>
                                <p class="spill-item-description">@game.Description</p>
                                <h3 class="spill-item-publisher">Made by: <br /> 
                                    <a asp-action="ViewUser" asp-controller="Home" asp-route-query="@game.PublisherUserId">@game.PublisherUserId</a>
                                </h3>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </center>
    </div>
}
else if (Model.EditGame != null)
{
    <center>
        <h1>Editing @Model.EditGame.Name (@Model.EditGame.Id)</h1>
        <h2>Made by:
            <a asp-action="ViewUser" asp-controller="Home" asp-route-query="@Model.EditGame.PublisherUserId">@Model.EditGame.PublisherUserId</a>
        </h2>
        <h4>Last modified: <br/><span class="h5">@Model.EditGame.LastEdited</span></h4>
        <form id="edit-game-form" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="spill-item">
                <div class="form-group d-none">
                    <label asp-for="Input.GameId" class="h3"></label>
                    <input asp-for="Input.GameId" class="form-control spill-input"/>
                </div>

                <div class="form-group">
                    <label asp-for="Input.Name" class="h3"></label>
                    <input asp-for="Input.Name" class="form-control spill-input"/>
                </div>
                @if (Model.EditGame.Images != null && Model.EditGame.Images.Any())
                {
                    <div id="images-@Model.EditGame.Id" class="carousel slide" data-ride="carousel">

                        <!-- Indicators -->
                        <ul class="carousel-indicators">
                            @{
                                var active = true;
                                for (var i = 0; i < Model.EditGame.Images.Count; i++)
                                {
                                    if (active)
                                    {
                                        <li data-target="#images-@Model.EditGame.Id" data-slide-to="@i" class="active"></li>
                                        active = false;
                                    }
                                    else
                                    {
                                        <li data-target="#images-@Model.EditGame.Id" data-slide-to="@i"></li>
                                    }
                                }
                            }
                        </ul>

                        <!-- The slideshow -->
                        <div class="carousel-inner">
                            @{
                                active = true;
                                @foreach (var image in Model.EditGame.Images)
                                {
                                    if (active)
                                    {
                                        <div class="carousel-item active">
                                            <img value="@image" gameId="@Model.EditGame.Id" onclick="Delete(this, 'DeletePicture')" class="spill-item-image"
                                                 src="@image" alt="@image" title="Click to remove.">
                                        </div>

                                        active = false;
                                    }
                                    else
                                    {
                                        <div class="carousel-item">
                                            <img value="@image" gameId="@Model.EditGame.Id" onclick="Delete(this, 'DeletePicture')" class="spill-item-image"
                                                 src="@image" alt="@image" title="Click to remove.">
                                        </div>
                                    }
                                }
                            }

                        </div>

                        <!-- Left and right controls -->
                        <a class="carousel-control-prev" href="#images-@Model.EditGame.Id" data-slide="prev">
                            <span class="carousel-control-prev-icon"></span>
                        </a>
                        <a class="carousel-control-next" href="#images-@Model.EditGame.Id" data-slide="next">
                            <span class="carousel-control-next-icon"></span>
                        </a>
                    </div>
                }
                else
                {
                    <h5>No Images uploaded.</h5>
                }

                <div class="form-group">
                    <label asp-for="Input.Images"></label>
                    <textarea asp-for="Input.Images" class="form-control spill-input"></textarea>
                </div>

                @if (Model.EditGame.Videos != null && Model.EditGame.Videos.Any())
                {
                    <div id="videos-@Model.EditGame.Id" class="carousel slide" data-ride="carousel">

                        <!-- Indicators -->
                        <ul class="carousel-indicators">
                            @{
                                var active = true;
                                for (var i = 0; i < Model.EditGame.Videos.Count; i++)
                                {
                                    if (active)
                                    {
                                        <li data-target="#videos-@Model.EditGame.Id" data-slide-to="@i" class="active"></li>
                                        active = false;
                                    }
                                    else
                                    {
                                        <li data-target="#videos-@Model.EditGame.Id" data-slide-to="@i"></li>
                                    }
                                }
                            }
                        </ul>

                        <!-- The slideshow -->
                        <div class="carousel-inner">
                            @{
                                active = true;
                                foreach (var video in Model.EditGame.Videos)
                                {
                                    if (active)
                                    {
                                        <div value="@video" gameId="@Model.EditGame.Id" onmouseover="ShowDelete(this)"
                                             class="carousel-item active">
                                            <iframe class="responsive-iframe" src="@video"></iframe>
                                        </div>

                                        active = false;
                                    }
                                    else
                                    {
                                        <div value="@video" gameId="@Model.EditGame.Id" onmouseover="ShowDelete(this)" class="carousel-item">
                                            <iframe class="responsive-iframe" src="@video"></iframe>
                                        </div>
                                    }
                                }
                            }
                        </div>

                        <!-- Left and right controls -->
                        <a class="carousel-control-prev" href="#videos-@Model.EditGame.Id" data-slide="prev">
                            <span class="carousel-control-prev-icon"></span>
                        </a>
                        <a class="carousel-control-next" href="#videos-@Model.EditGame.Id" data-slide="next">
                            <span class="carousel-control-next-icon"></span>
                        </a>
                    </div>
                }
                else
                {
                    <h5>No Videos uploaded.</h5>
                }

                <div class="form-group">
                    <label asp-for="Input.Videos"></label>
                    <textarea asp-for="Input.Videos" class="form-control spill-input"></textarea>
                </div>

                <div class="form-group">
                    <label asp-for="Input.DownloadLink" class="h3"></label>
                    <input asp-for="Input.DownloadLink" class="form-control spill-input"/>
                </div>

                <div class="form-group">
                    <label asp-for="Input.Description"></label>
                    <textarea asp-for="Input.Description" class="form-control spill-input"></textarea>
                </div>
                <div class="form-group">
                    <label asp-for="Input.Approved" class="h3"></label>
                    <input asp-for="Input.Approved" class="form-control spill-input"/>
                </div>
            </div>
            <button id="edit-game-button" type="submit" asp-page-handler="EditGame" class="btn btn-primary">Edit Game</button>
        </form>

        <form id="DeletePicture" method="post" asp-page-handler="DeletePicture" enctype="multipart/form-data" class="d-none">
            <button id="delete-picture-button" type="submit" class="btn btn-primary">Submit</button>
        </form>
        <form id="DeleteVideo" method="post" asp-page-handler="DeleteVideo" enctype="multipart/form-data" class="d-none">
            <button id="delete-video-button" type="submit" class="btn btn-primary">Submit</button>
        </form>
    </center>
}
else
{
    <h1>Unable to load games, no users found.</h1>
}