@page
@model GameJam.Pages.Home.AboutModel
@{
    ViewData["Title"] = "About";
    Layout = "_Layout";
}

<div class="text-center">
    <h1 class="display-4 header"><strong>About:</strong></h1>
    <p class="information-text">
        Put your information here. Example:
        The KTF Game Jam provides a unique experience. With unique systems for uploading giving the user the best experience.
        With top prizes being: Money, Gift Cards and much more
        Join today and you wont regret it.
    </p>
</div>

<div id="om">
    <center>
        <div class="container">
            <div class="row">
                @foreach (var user in Model.StaffUsers)
                {
                    var description = user.Description;
                    if (string.IsNullOrEmpty(description))
                    {
                        description = $"Description not set.";
                    }
                    <div class="col-sm">
                        <div class="om-team-item">
                            <img class="om-team-item-image rounded-circle" src="@user.ProfilePicture" alt="@user.UserName's profile picture" />
                            <h4>@description</h4>
                            <a class="h3 om-team-item-title" asp-action="ViewUser" asp-controller="Home" asp-route-query="@user.Id">@user.UserName</a>
                        </div>
                    </div>
                }
            </div>
        </div>
    </center>
</div>